<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=0.5, user-scalable=no">
	    <title>用户注册协议</title>
	    <link rel="stylesheet" type="text/css" href="../css/agreement.css"/>
	    <script src="../js/flexible.js"></script>
	    <script src="../js/jquery-3.2.1.min.js"></script>
	    <script src="../js/api.js"></script>  
	</head>
	<body>		
		<div class="content">
			<div class="text1 text">
				<h1>第一条 特别提示</h1>
				<ul>
					<li><p>臻宝通（深圳）互联网科技有限公司（以下简称“臻宝通”）在此特别提醒您（用户）在注册成为用户之前，请认真阅读本《用户注册协议》（以下简称“协议”），确保您充分理解本协议中各条款，包括免除臻宝通责任的条款及限制用户权利的条款。请您审慎阅读并选择接受或不接受本协议。除非您接受本协议所有条款，否则您无权注册、登录或使用本协议所涉服务。您的注册、登录、使用等行为将视为对本协议的接受，并同意接受本协议各项条款的约束。</p></li>
					<li><p>本协议约定臻宝通与用户之间关于小金葱软件服务（以下简称“服务”）的权利义务。“用户”是指注册、 登录、使用本服务的个人。本协议可由臻宝通随时更新， 更新后的协议条款一旦公布即代替原来的协议条款，恕不再另行通知，在臻宝通修改协议条款后，如果用户不接受修改后的条款，请立即停止使用臻宝通提供的服务，用户继续使用臻宝通提供的服务将被视为接受修改后的协议。</p></li>
				</ul>
			</div>
			<div class="text">
				<h1>第二条 账号注册</h1>
				<ul>
					<li><p>用户在使用本服务前需要注册一个小金葱账号。小金葱账号应当使用手机号码绑定注册， 请用户使用尚未与小金葱账号绑定的手机号码，以及未被臻宝通根据本协议封禁的手机号码注册小金葱账号。 臻宝通可以根据用户需求或产品需要对账号注册和绑定的方式进行变更，而无须事先通知用户。</p></li>
					<li><p>如果注册申请者有被臻宝通封禁的先例或涉嫌虚假注册及滥用他人名义注册，及其他不能得到许可的理由， 臻宝通将拒绝其注册申请。</p></li>
				</ul>
			</div>
			<div class="text">
				<h1>第三条 用户帐户安全</h1>
				<ul>
					<li><p>注册用户的登陆密码管理由用户来负责，用户不应把自己的密码告诉其他第三者。</p></li>
					<li><p>用户如果遗失自己的登陆密码，需及时通知臻宝通，并按照臻宝通的指导来解决该问题。</p></li>
					<li><p>如果用户不注册将不能参加小金葱相关活动。导致用户未能参加活动，由用户自己承担。</p></li>
				</ul>
			</div>
			<div class="text">
				<h1>第四条 服务的变更、中断、终止</h1>
				<ul>
					<li><p>因设备维修或更换、故障和通信中断等技术原因而中断业务，臻宝通可视情况事前或事后通知用户。</p></li>
					<li>
						<p>当小金葱用户发生如下情况时，臻宝通可单方面终止本协议，取消用户继续享受服务的资格：</p>
						<p>（1） 用户死亡；</p>
						<p>（2） 盗用他人的个人信息或手机；</p>
						<p>（3） 注册用户时提供虚假信息；</p>
						<p>（4） 以非法手段（包括且不限于黑客攻击等）来破坏大赛；</p>
						<p>（5） 妨碍其他用户的正常使用；</p>
						<p>（6） 伪称是臻宝通的工作人员或管理人员；</p>
						<p>（7） 擅自强行更改臻宝通的计算机系统，或威胁侵入系统；</p>
						<p>（8） 擅自传播谣言，用各种手段来毁损臻宝通的名誉与妨碍臻宝通的正常营业；</p>
						<p>（9） 利用臻宝通的产品及服务宣传垃圾广告；</p>
						<p>（10） 其他违反本协议的行为及违法行为。</p>
					</li>
				</ul>
			</div>
			<div class="text">
				<h1>第五条 用户个人隐私信息保护</h1>
				<ul>
					<li>
						<p>.臻宝通未经用户同意不向任何第三方公开、透露用户个人隐私信息。但以下特定情形除外：</p>
						<p>（1）臻宝通根据法律法规规定或法律部门的指示提供用户的个人隐私信息；</p>
						<p>（2）由于用户将其用户密码告知他人或与他人共享注册帐户与密码，由此导致的任何个人信息的泄漏， 或其他非因臻宝通原因导致的个人隐私信息的泄露；</p>
						<p>（3）用户自行向第三方公开其个人隐私信息；</p>
						<p>（4）用户与臻宝通及合作单位之间就用户个人隐私信息的使用公开达成约定， 臻宝通因此向合作单位公开用户个人隐私信息；</p>
						<p>（5）任何由于黑客攻击、电脑病毒侵入及其他非因臻宝通原因导致用户个人隐私信息的泄露。</p>
					</li>
					<li>
						<p>.用户同意臻宝通可在以下事项中使用用户的个人隐私信息：</p>
						<p>（1） 向用户及时发送重要通知，如本协议条款的变更；</p>
						<p>（2） 臻宝通内部进行审计、数据分析和研究等，以改进臻宝通的产品、服务和与用户之间的沟通；</p>
						<p>（3） 依本协议约定，臻宝通管理、审查用户信息及进行处理措施；</p>
						<p>（4） 适用法律法规规定的其他事项。</p>
						
					</li>
				</ul>
			</div>
			<div class="text">
				<h1>第六条 用户使用规范</h1>
				<ul>
					<li>
						<p>臻宝通用户不能利用臻宝通提供的服务进行如下行为：</p>
						<p>（1）用户擅自更改、消除或毁损臻宝通广告业务提供的各种信息；</p>
						<p>（2）利用技术手段批量建立虚假账号；</p>
						<p>（3）侵害臻宝通以及第三者的知识产权；</p>
						<p>（4）提交、发布虚假信息，或盗用他人资料，冒充、利用他人名义；</p>
						<p>（5）未经臻宝通许可,而传播广告或淫秽暴力等信息；</p>
						<p>（6）其他不遵守本协议的行为；</p>
						<p>（7）其他违法以及不正当的行为。</p>
					</li>
				</ul>
			</div>
			<div class="text">
				<h1>第七条 其他</h1>
				<ul>
					<li><p>臻宝通郑重提醒用户注意本协议中免除臻宝通责任和限制用户权利的条款，请用户仔细阅读，自主考虑风险。 未成年人应在法定监护人的陪同下阅读本协议。</p></li>
					<li><p>本协议的效力、解释及纠纷的解决，适用于中华人民共和国法律。若用户和臻宝通之间发生任何纠纷或争议， 首先应友好协商解决，协商不成的，用户同意将纠纷或争议提交臻宝通住所地有管辖权的人民法院管辖。</p></li>
					<li><p>本协议的任何条款无论因何种原因无效或不具可执行性，其余条款仍有效，对双方具有约束力。</p></li>
					<li><p>本协议的版权由臻宝通所有，臻宝通保留一切解释和修改的权力。</p></li>
					<li><p>本协议从2017年9月10日起适用。</p></li>
				</ul>
			</div>		
  		</div>
		
	</body>
	
</html>

	

