<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5, user-scalable=no">
    <title>审核失败</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <link rel="stylesheet" type="text/css" href="../css/realname_style.css"/>
    <link rel="stylesheet" href="../css/upload2.css">   
</head>
<body>
	
	 	<div class="content">
	 		<div class="examineState">
	 			<p>很抱歉，您的信息审核未通过，请重新上传资料</p>
	 		</div>
	 		<div class="lookReason">
	 			<a>查看原因</a>
	 		</div>
	 		<div class="backhome">
	 			<p class="mainBtn " >重新上传</p>
	 		</div>
	 	</div>
	 	
	 	<!--弹窗显示-->
    	<div id="failreason2" style="display: none;">
			<div class="sample">
				<img class="closeBtn" src="../image/popup2.png" ng-click="close();" alt="" />
				<div class="failreason2">
					<h2>手持学生证照片审核未通过</h2>
					<p>标准样式</p>
					<img src="../image/failreason2.png"/>
				</div>				
			</div>			
		</div>
		
		<div id="mask" class="mask"></div>
		<!-- 简单弹框提示 -->
		<div class="shade">
       		<p></p>
		</div>
		<div id="backImg" style="display: none;">
			<img class="closeImg" src="../image/popup2.png" alt="" />
			<div id="backgroundImg">			
				<p class="pone"><span class="span1"></span></p>		
				<p class="ptwo" style="display: none;"><span class="jump">马上去</span></p>			
			</div>
		</div>
</body>
</html>
<script src="../js/flexible.js"></script>
<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../js/api.js"></script>
<script src="../js/checkLogin.js"></script> 
<script>
(function () {
	
	$('.mainBtn').on('click',function(){
		window.location.href="upload1.html"; 	
	});
	
	$('.lookReason > a').on('click',function(){
		xjcong.api.lookFailReason({seasonCount:1},{},function(opt){
			if(opt.success){
				showMask();
				$('#backImg').show();
				$('#backImg').css('top','3.472222rem');
				$('.pone').css('border','none');
				$('.pone > span').html(opt.data);			 
			}
		})	 	
	})
	$(".closeImg").on('click',function(){
		$('#backImg').hide();
	
		hideMask();
		
    }); 
	
	var websocket;
	if(window.location.protocol === 'http:'){
		if ('WebSocket' in window) {
			websocket = new WebSocket('ws://'+window.location.host+'/rest');
		} else if ('MozWebSocket' in window) {
			websocket = new MozWebSocket('ws://'+window.location.host+'/rest');
		} else {
			websocket = new SockJS('http://'+window.location.host+'/rest/sockjs');
		}
	}else{
		if ('WebSocket' in window) {
			websocket = new WebSocket('wss://'+window.location.host+'/rest');
		} else if ('MozWebSocket' in window) {
			websocket = new MozWebSocket('wss://'+window.location.host+'/rest');
		} else {
			websocket = new SockJS('https://'+window.location.host+'/rest/sockjs');
		}
	}
	
	websocket.onopen = function(event) {
		console.log("WebSocket:已连接");
		console.log(event);
	};
	websocket.onerror = function(event) {
		console.log("WebSocket:发生错误 ");
		console.log(event);
	};
	websocket.onclose = function(event) {
		console.log("WebSocket:已关闭");
		console.log(event);
	}
	websocket.onmessage = function(event) {
		var data=JSON.parse(event.data);
		if(data.text === '1'){//驳回			
			window.location.href = 'realname_fail.html';
		}else if(data.text === '2'){//通过
			window.location.href = '../index.html#2';
		}else{
			console.log("WebSocket:收到一条消息",data);
		}
	};
	
	function getContextPath(){   
	    var pathName = document.location.pathname;   
	    var index = pathName.substr(1).indexOf("/");   
	    var result = pathName.substr(0,index+1);   
	    alert(result);
	    return result;   
	}  
	
})()	
</script>
